<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://centos-7:3306/GRADUATION_PROJECT?useUnicode=true&amp;characterEncoding=UTF-8&amp;
                  autoReconnect=true&amp;autoReconnectForPools=true&amp;zeroDateTimeBehavior=convertToNull&amp;useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="annpeter"/>
    </bean>

    <bean id="configuration" class="cn.annpeter.graduation.project.base.mybatis.page.MyBatisConfiguration">
        <property name="dbType" value="MYSQL"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="mapperLocations" value="classpath:mapper/*Mapper.xml"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="configuration" ref="configuration"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.annpeter.graduation.project.dal.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
</beans>